/* start-nav */
.navbarback1 {
  background-color: transparent;
}

.navbarback2 {
  background-image: linear-gradient(
    to right bottom,
    #3d8bff,
    #6d5bae,
    #5d3665,
    #371d2d,
    #000000
  );
  -webkit-transition: color 2s ease;
  -moz-transition: color 2s ease;
  -o-transition: color 2s ease;
  transition: color 2s ease;
}
.logoImgSize {
  /* box-sizing: border-box;
  height: 40px;
  width: 50px;
  object-fit: contain; */
  box-sizing: border-box;
  height: 30px;
  margin-bottom: 5px;
  width: auto;
  object-fit: contain;
}

.titleAnimation {
  color: bisque;
}

.titleAnimation::after {
  margin-top: 3px;
  content: "";
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 0%;
  min-height: 2px;
  background-color: aqua;

  transition: all 700ms;
}

.titleAnimation:hover::after {
  margin-top: 3px;
  content: "";
  visibility: visible;
  opacity: 1;
  display: block;
  width: 50px;
  min-height: 2px;
  background-color: aqua;
}
/* end-nav */
